GeneradordeCertificados_20260417034937/Microsoft.Flow/flows/a7854eff-bebf-4065-a549-1e65f79c89ad/definition.json
{"name":"42e0c10b-f995-44fd-8b10-d3da03d71fdf","id":"/providers/Microsoft.Flow/flows/42e0c10b-f995-44fd-8b10-d3da03d71fdf","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Generador_certificado_competencias","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"AllActionsFailingDetected","flowclientsuspensiontime":"2026-01-20T19:17:04.3535257Z","flowclientsuspensionreasondetails":"El flujo ha provocado errores repetidamente durante 14 días. Lo deshabilitamos el 06/01/2026 19:20:12.","creator":{"id":"e566d6ec-c0b3-4d5d-9c06-f5a880cd33b7","type":"User","tenantId":"ffd7e11d-610e-4ec7-a312-b46000a838cb"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-01-06T19:21:38.0310875Z","connectionKeySavedTimeKey":"2026-01-20T19:17:04.3535257Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Cuando_se_modifica_un_archivo_(solo_propiedades)":{"recurrence":{"frequency":"Minute","interval":1},"evaluatedRecurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body']","metadata":{"b!ez7Yk7l4A0ar6TohwBTbzVbPTF9MZtBHgsw2Yyuvk63ijzNEotQhR6ZvAVz4exa6.01IKQO44PW5EUWEIPWUJGK2QFYS7N42VVM":"/Reclutamiento y Selección/Formacion & Entrenamiento/Certificación de Competencias"},"type":"OpenApiConnection","inputs":{"parameters":{"folderId":"b!ez7Yk7l4A0ar6TohwBTbzVbPTF9MZtBHgsw2Yyuvk63ijzNEotQhR6ZvAVz4exa6.01IKQO44PW5EUWEIPWUJGK2QFYS7N42VVM"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"OnUpdatedFilesV2"},"authentication":"@parameters('$authentication')"}}},"actions":{"Enumerar_las_filas_de_una_tabla":{"runAfter":{},"metadata":{"01IKQO44I5XMB27YIMWVDJMAZNLTCCF24P":"/Reclutamiento y Selección/Formacion & Entrenamiento/Certificación de Competencias/generador_de_certificados_rev02.xlsx","tableId":"{AAD87417-517B-4987-8346-5709D227CA08}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!ez7Yk7l4A0ar6TohwBTbzVbPTF9MZtBHgsw2Yyuvk63ijzNEotQhR6ZvAVz4exa6","file":"01IKQO44I5XMB27YIMWVDJMAZNLTCCF24P","table":"{AAD87417-517B-4987-8346-5709D227CA08}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Filtrar_matriz":{"runAfter":{"Enumerar_las_filas_de_una_tabla":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Enumerar_las_filas_de_una_tabla')?['body/value']","where":"@equals(trim(toLower(item()?['estado_certificado'])),'pendiente')"}},"For_each":{"foreach":"@body('Filtrar_matriz')","actions":{"Crear_archivo":{"runAfter":{"Rellenar_una_plantilla_de_Microsoft_Word":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"folderPath":"/Reclutamiento y Selección/Formacion & Entrenamiento/Certificación de Competencias/certificados_generados","name":"certificado_de_competencias_@{items('For_each')?['trabajador_']}_@{items('For_each')?['folio_']}.docx","body":"@body('Rellenar_una_plantilla_de_Microsoft_Word')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness-1","operationId":"CreateFile"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Rellenar_una_plantilla_de_Microsoft_Word":{"metadata":{"01IKQO44PQNFSZ4ZPA45F3DAUF3EYJC775":"/Reclutamiento y Selección/Formacion & Entrenamiento/Certificación de Competencias/certificado_tipo_rev02.docx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!ez7Yk7l4A0ar6TohwBTbzVbPTF9MZtBHgsw2Yyuvk63ijzNEotQhR6ZvAVz4exa6","file":"01IKQO44PQNFSZ4ZPA45F3DAUF3EYJC775","dynamicFileSchema/246159482":"@items('For_each')?['fecha_texto']","dynamicFileSchema/546726760":"@items('For_each')?['modelos_todos']","dynamicFileSchema/637687869":"@items('For_each')?['marca_']","dynamicFileSchema/966313167":"@items('For_each')?['firma_']","dynamicFileSchema/1645776113":"@items('For_each')?['calificacion_']","dynamicFileSchema/1908033717":"@items('For_each')?['instructor_2']","dynamicFileSchema/-815177124":"@items('For_each')?['rut_instructor']","dynamicFileSchema/-578445612":"@items('For_each')?['trabajador_']","dynamicFileSchema/-794209027":"@items('For_each')?['rut_trabajador']","dynamicFileSchema/-1983534144":"@items('For_each')?['autorizado_para_operar']","dynamicFileSchema/-1884175114":"@items('For_each')?['fecha_firma2']","dynamicFileSchema/-146056141":"@items('For_each')?['codigo_perfil_cv']","dynamicFileSchema/-1297210858":"@items('For_each')?['folio_']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness","connectionName":"shared_wordonlinebusiness","operationId":"CreateFileItem"},"authentication":"@parameters('$authentication')"}},"Retraso":{"runAfter":{"Crear_archivo":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}},"Obtener_contenido_de_archivo":{"runAfter":{"Retraso":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('Crear_archivo')?['body/Id']","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness-1","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}},"Convertir_un_archivo":{"runAfter":{"Obtener_contenido_de_archivo":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('Crear_archivo')?['body/Id']","type":"PDF"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness-1","operationId":"ConvertFile"},"authentication":"@parameters('$authentication')"}},"Crear_archivo_1":{"runAfter":{"Convertir_un_archivo":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://busesjm.sharepoint.com/sites/Reclutamiento_test","folderPath":"/Documentos compartidos/Certificados_Competencias_Marca_Modelo","name":"@{outputs('Crear_archivo')?['body/Name']}.pdf","body":"@body('Convertir_un_archivo')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Actualizar_una_fila":{"runAfter":{"Crear_archivo_1":["Succeeded"]},"metadata":{"01IKQO44I5XMB27YIMWVDJMAZNLTCCF24P":"/Reclutamiento y Selección/Formacion & Entrenamiento/Certificación de Competencias/generador_de_certificados_rev02.xlsx","tableId":"{AAD87417-517B-4987-8346-5709D227CA08}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!ez7Yk7l4A0ar6TohwBTbzVbPTF9MZtBHgsw2Yyuvk63ijzNEotQhR6ZvAVz4exa6","file":"01IKQO44I5XMB27YIMWVDJMAZNLTCCF24P","table":"{AAD87417-517B-4987-8346-5709D227CA08}","idColumn":"correlativo_","id":"@items('For_each')?['correlativo_']","item/estado_certificado":"Generado"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Enviar_una_notificación_por_correo_electrónico_(V3)":{"runAfter":{"Actualizar_una_fila":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"request/to":"thania.villagran@busesjm.com;Instructores@busesjm.com","request/subject":"Certificado @{outputs('Actualizar_una_fila')?['body/folio_']}","request/text":"<p class=\"editor-paragraph\">El certificado de competencias solicitado por /@{outputs('Actualizar_una_fila')?['body/instructor_2']} para el trabajador /@{outputs('Actualizar_una_fila')?['body/trabajador_']} ha sido correctamente generado.</p>","request/files":"@body('Convertir_un_archivo')","request/filenames":"@outputs('Convertir_un_archivo')?['headers/x-ms-file-name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Filtrar_matriz":["Succeeded"]},"type":"Foreach"}},"outputs":{}},"connectionReferences":{"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-0329f3c2-07ed-46dc-8995-1fb393a5b3e8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-e47b3cac-9c33-46d7-9a3d-a11acfd9c587","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_onedriveforbusiness-1":{"connectionName":"shared-onedriveforbu-d4b15db0-098d-4d6b-92c5-2b2bb01a7b7e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_wordonlinebusiness":{"connectionName":"shared-wordonlinebus-28b4b6ba-2fee-44b7-b781-b3cfed3e8f34","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness","tier":"NotSpecified","apiName":"wordonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-55c947d3-2c37-423b-b8b3-7f78a965abe6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sendmail":{"connectionName":"shared-sendmail-0e34714b-7ce3-4db4-9b1c-db022d417353","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified","apiName":"sendmail","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}